# dirs
.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/eshell/
.emacs.d/url/
.emacs.d/request/
.emacs.d/transient/

# files
kkcrc
network-security.data
tramp
type-break
ac-comphist.dat
jet_err_201.txt
.lsp-session*

