[core]
	commentChar = %
	excludesfile = ~/.gitignore_global
	quotepath = false
[include]
	path = ~/.gitconfig_local
[alias]
	br = branch
	st = status
	co = checkout
	sw = switch
	rs = restore
[pager]
	log = "if [ -f $(brew --prefix)/share/git-core/contrib/diff/highlight/diff-highlight ]; then $(brew --prefix)/share/git-core/contrib/diff/highlight/diff-highlight | less; else less; fi"
	show = "if [ -f $(brew --prefix)/share/git-core/contrib/diff/highlight/diff-highlight ]; then $(brew --prefix)/share/git-core/contrib/diff/highlight/diff-highlight | less; else less; fi"
	diff = "if [ -f $(brew --prefix)/share/git-core/contrib/diff/highlight/diff-highlight ]; then $(brew --prefix)/share/git-core/contrib/diff/highlight/diff-highlight | less; else less; fi"
